<% content_for :header_tags do %>
  <%= javascript_include_tag "fields_autofill.js", :plugin => 'redmine_emergya_adjustments' %>
<% end %>

<div class="splitcontent">
<div class="splitcontentleft">
<% i = 0 %>
<% split_on = (@issue.custom_field_values.size / 2.0).ceil - 1 %>
<% @issue.editable_custom_field_values.each do |value| %>
  <p><%= custom_field_tag_with_label :issue, value, :required => @issue.required_attribute?(value.custom_field_id) %></p>
<% if i == split_on -%>
</div><div class="splitcontentright">
<% end -%>
<% i += 1 -%>
<% end -%>
</div>
</div>



<% case @issue.tracker_id %>
<% when Setting.plugin_redmine_emergya_adjustments['risk_tracker'].to_i %>
  <script type="text/javascript">
    impacto = $("#issue_custom_field_values_"+"<%=Setting.plugin_redmine_emergya_adjustments['risk_impact_custom_field']%>");
    probabilidad = $("#issue_custom_field_values_"+"<%=Setting.plugin_redmine_emergya_adjustments['risk_probability_custom_field']%>");
    exposicion = $("#issue_custom_field_values_"+"<%=Setting.plugin_redmine_emergya_adjustments['risk_exposition_level_custom_field']%>");

    impacto.addClass('launcher').attr('data-attr_name','impacto');
    probabilidad.addClass('launcher').attr('data-attr_name','probabilidad');
    exposicion.addClass('autofilled_field select_input');

    url = "/get_exposition_level";
  </script>
<% when Setting.plugin_redmine_emergya_adjustments['bill_tracker'].to_i %>
  <script type="text/javascript">
    facturacion = $("#issue_custom_field_values_"+"<%=Setting.plugin_redmine_emergya_adjustments['bill_invoice_custom_field']%>");
    iva = $("#issue_custom_field_values_"+"<%=Setting.plugin_redmine_emergya_adjustments['bill_iva_custom_field']%>");
    cobro = $("#issue_custom_field_values_"+"<%=Setting.plugin_redmine_emergya_adjustments['bill_amount_custom_field']%>");

    // Auto calcular el campo cobro apartir de facturación e iva
    facturacion.addClass('launcher').attr('data-attr_name','facturado');
    iva.addClass('launcher').attr('data-attr_name','iva');
    cobro.addClass('autofilled_field');

    url = "/get_bill_amount";

    // Deshabilitar campo cobro cuando iva no es manual
    if (iva.val() != 'Manual'){
      cobro.prop('disabled',true);
    }

    iva.live('change', function(){
      if (this.value == 'Manual'){
        cobro.prop('disabled', false);
      } else {
        cobro.prop('disabled', true);
      }
    });


  </script>
<% when Setting.plugin_redmine_emergya_adjustments['bpo_tracker'].to_i %>
  <script type="text/javascript">
    coste_anual = $("#issue_custom_field_values_"+"<%=Setting.plugin_redmine_emergya_adjustments['bpo_annual_cost_custom_field']%>");
    fecha_inicio = $("#issue_start_date");
    fecha_fin = $("#issue_due_date");
    coste_total = $("#issue_custom_field_values_"+"<%=Setting.plugin_redmine_emergya_adjustments['bpo_total_cost_custom_field']%>");

    // Auto calcular el campo Coste total de BPO apartir de Coste anual de BPO y de la fecha de inicio y de fin
    coste_anual.addClass('launcher').attr('data-attr_name','anual');
    fecha_inicio.addClass('launcher').attr('data-attr_name','inicio');
    fecha_fin.addClass('launcher').attr('data-attr_name','fin');
    coste_total.addClass('autofilled_field').prop('disabled', true);

    url = "/get_bpo_total";

    autofill_field();
  </script>
<% end %>
