<% content_for :header_tags do %>
  <%= javascript_include_tag "fields_autofill.js", :plugin => 'redmine_emergya_adjustments' %>
<% end %>

<div class="splitcontent">
<div class="splitcontentleft">
<% i = 0 %>
<% split_on = (@issue.custom_field_values.size / 2.0).ceil - 1 %>
<% @issue.editable_custom_field_values.each do |value| %>
  <p><%= custom_field_tag_with_label :issue, value, :required => @issue.required_attribute?(value.custom_field_id) %></p>
<% if i == split_on -%>
</div><div class="splitcontentright">
<% end -%>
<% i += 1 -%>
<% end -%>
</div>
</div>


<script>
// Rutas a las acciones de "issues_controller" para los procesamientos de autocompletado
url = []
url['risk'] = "/get_exposition_level";
url['bill_cost'] = "/get_bill_amount";
url['currency_exchange'] = "/get_currency_exchange";
url['currency_exchange_bpo'] = "/get_currency_exchange_bpo";
url['bpo_total_cost'] = "/get_bpo_total";
</script>

<% case @issue.tracker_id %>
<% when Setting.plugin_redmine_emergya_adjustments['risk_tracker'].to_i %>
  <%= set_launcher('impacto', 'risk_impact_custom_field', 'risk') %>
  <%= set_launcher('probabilidad', 'risk_probability_custom_field', 'risk') %>
  <%= set_autofilled('risk_exposition_level_custom_field', 'risk', {:class => 'select_input'}) %>
  
<% when Setting.plugin_redmine_emergya_adjustments['bill_tracker'].to_i %>
  <%= set_launcher('facturado', 'bill_invoice_custom_field', 'bill_cost') %>
  <%= set_launcher('iva', 'bill_iva_custom_field', 'bill_cost') %>
  <%= set_autofilled('bill_amount_custom_field', 'bill_cost', {:disabled => true}) %>
  
  <%= set_toggling('enable', 'bill_amount_custom_field', 'bill_iva_custom_field', 'Manual') %>

  <% if Setting.plugin_redmine_emergya_adjustments['plugin_currency_manager'].present? %>
    <%= set_launcher('moneda', 'currency_custom_field', 'currency_exchange bill_cost') %>
    <%= set_launcher('original', 'currency_bill_custom_field_orig', 'currency_exchange bill_cost') %>
    <%= set_launcher('fin', 'currency_bill_custom_field_date', 'currency_exchange bill_cost') %>
    <%= set_autofilled('currency_bill_custom_field_conv', 'currency_exchange') %>

    <%= set_toggling('enable', 'currency_bill_custom_field_conv', 'currency_custom_field', 'EUR') %>
    <%= set_toggling('disable', 'currency_bill_custom_field_orig', 'currency_custom_field', 'EUR') %>
  <% end %>
<% when Setting.plugin_redmine_emergya_adjustments['provider_tracker'].to_i %>
  <% if Setting.plugin_redmine_emergya_adjustments['plugin_currency_manager'].present? %>
    <%= set_launcher('moneda', 'currency_custom_field', 'currency_exchange') %>
    <%= set_launcher('original', 'currency_provider_custom_field_orig', 'currency_exchange') %>
    <%= set_launcher('fin', 'currency_provider_custom_field_date', 'currency_exchange') %>
    <%= set_autofilled('currency_provider_custom_field_conv', 'currency_exchange') %>

    <%= set_toggling('enable', 'currency_provider_custom_field_conv', 'currency_custom_field', 'EUR') %>
    <%= set_toggling('disable', 'currency_provider_custom_field_orig', 'currency_custom_field', 'EUR') %>
  <% end %>
<% when Setting.plugin_redmine_emergya_adjustments['bpo_tracker'].to_i %>
  <%= set_launcher('anual', 'bpo_annual_cost_custom_field', 'bpo_total_cost') %>
  <%= set_launcher('inicio', '#issue_start_date', 'bpo_total_cost') %>
  <%= set_launcher('fin', '#issue_due_date', 'bpo_total_cost') %>
  <%= set_autofilled('bpo_total_cost_custom_field', 'bpo_total_cost', {:disabled => true}) %>

  <script type="text/javascript">
    autofill_field(['bpo_total_cost']);
  </script>
  <% if Setting.plugin_redmine_emergya_adjustments['plugin_currency_manager'].present? %>
    <%= set_launcher('moneda', 'currency_custom_field', 'currency_exchange bpo_total_cost') %>
    <%= set_launcher('original', 'currency_bpo_custom_field_orig', 'currency_exchange bpo_total_cost') %>
    <%= set_launcher('inicio', '#issue_start_date', 'currency_exchange_bpo bpo_total_cost') %>
    <%= set_launcher('fin', '#issue_due_date', 'currency_exchange bpo_total_cost') %>
    <%= set_autofilled('currency_bpo_custom_field_conv', 'currency_exchange') %>

    <%= set_toggling('enable', 'currency_bpo_custom_field_conv', 'currency_custom_field', 'EUR') %>
    <%= set_toggling('disable', 'currency_bpo_custom_field_orig', 'currency_custom_field', 'EUR') %>
  <% end %>
<% end %>